---
import { Image } from "astro:assets";
import SideCard from "../../layouts/SideCard.astro";

interface Props {
  title: string;
  organizations: {
    name: string
    url: string;
    role: string;
    startDate: string;
    endDate: string;
    image: ImageMetadata;
  }[]
  type: 'work' | 'education';
  showLinkedIn?: boolean;
  noFollow?: boolean;
}

const { title, organizations, type, showLinkedIn, noFollow } = Astro.props;
---

<SideCard title={title} icon={type === 'work' ? 'briefcase' : 'academic-cap'}>
  <ol class="mt-6 space-y-4">
    {organizations.map(org => (
      <li class="flex gap-4">
        <div
          class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5"
        >
          <Image src={org.image} alt={org.name} class="h-7 w-7 rounded-full" />
        </div>
        <dl class="flex flex-auto flex-wrap gap-x-2">
          <dt class="sr-only">{type === 'work' ? 'Company' : 'Institute'}</dt>
          <dd
            class="w-full flex-none text-sm font-medium text-zinc-900"
          >
            <a href={org.url} rel={noFollow ? "nofollow" : undefined}>{org.name}</a>
          </dd>
          <dt class="sr-only">{type === 'work' ? 'Role' : 'Degree'}</dt>
          <dd class="text-xs text-zinc-500">{org.role}</dd>
          <dt class="sr-only">Date</dt>
          <dd
            class="ml-auto text-xs text-zinc-400"
            aria-label={org.endDate === org.startDate ? org.startDate : `${org.startDate} until ${org.endDate}`}
          >
            <time datetime={org.startDate}>{org.startDate}</time>
            {
              org.endDate === org.startDate ? null : (
                <>
                  <span aria-hidden="true">—</span>
                  <time datetime={org.endDate}>{org.endDate}</time>
                </>
              )
            }
          </dd>
        </dl>
      </li>
    ))}
  </ol>
  {showLinkedIn && <a
    class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-800 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 group mt-6 w-full"
    href="https://www.linkedin.com/in/loicpoullain/"
    target="_blank"
  >
    View resume on LinkedIn
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  aria-hidden="true" fill="currentColor" stroke="none" class="h-6 w-6 text-zinc-600">
      <path
        d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"
        >
      </path>
    </svg>
  </a>}
</SideCard>